{% extends "common/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="card card-profile my-5 mx-auto">
  <div class="card-body">
    <h5 class="card-title text-center">新規登録</h5>
    <form novalidate class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="profile_table mb-4">
        <tbody>
          <!-- 繰り返し部分開始 -->
          {% for field in form %}
          <tr>
            <th class="header">
              {% if field.name == 'password2' %}
                パスワード確認
              {% else %}
                {{ field.label }}
              {% endif %}
            </th>
            <td class="data">
              {% if field.errors %}
                {{ field|add_class:'form-control error' }}
                {% for error in field.errors %}
                <li class="error-message">{{ error }}</li>
                {% endfor %}
              {% else %}
                {{ field|add_class:'form-control' }}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
          <!-- 繰り返し部分終了 -->
        </tbody>
      </table>
      {% if form.non_field_errors %}
      <ul class="error-message-card">
        <li class="error-message">入力内容に問題があります。</li>
      </ul>
      {% endif %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="button mx-auto">
        <button class="btn btn-lg btn-warning btn-block" type="submit">登録</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
